# Archivos de sesión y logs
base-baileys-mongo/bot_sessions/
base-baileys-mongo/*.log

# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de build
dist/
build/ 